.banner-head {
  font-family: "Lilita One";
}
.brand {
  font-family: "Signika";
}
.banner {
  min-height: 400px;
}

.content {
  margin: 0 20px;
}

.item-detail {
  width: 100%;
  padding: 30px 40px 0 40px;
}

@media (max-width: 700px) {
  .banner {
    min-height: 250px;
    
  }
}